<% include layout.ejs %>

<body>
  <section class="home">
    <% if(sensor.length){%>
      <h2><%=sensor[0].sensor_name%></h2>
         <%for(var i=0; i<sensor.length; i++) { %>
          <table>
            <tr>
              <td><%=sensor[i].data%></td>
            </tr>
        <%}
        }else{ %>
          <tr>
            <td colspan="3">No data on sensor</td>
          </tr>
        <% } %>
      </table>
    </section>
  <script type="text/javascript" src="assets/js/bootstrap.js"></script>
</body>
