/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300);
body {
    width: 100%;
    height: 100%;
    background-color: #263238;
    margin: 0;
    padding: 100px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: #fff;
}

#myTitle{
    font-family: 'Roboto';
    text-align: center;
    text-indent: 20px;
    padding-bottom: 50px;
}

.widget-container {
    width: 100%;
    height: 1000px;
    display: block;
    background-color: #313e45;
    border-radius: 25px;
    /*   border: 5px solid #eceff1; */
    margin: 0 auto;
}


/* Widget 4 Quarter Division here */

.top-left {
    height: 400px;
    width: 450px;
    float: left;
    padding: 55px 0 0 70px;
    text-align: center;
}

.top-middle {
    height: 400px;
    width: 500px;
    float: left;
    padding: 55px 0 0 50px;
    text-align: center;
}

.top-right {
    height: 400px;
    width: 450px;
    float: right;
    padding: 55px 0 0 0;
}

.bottom-left {
    height: 400px;
    width: 450px;
    float: left;
    margin: 0;
    padding: 40px 0 0 50px;
    text-align: center;

}

.bottom-right {
    height: 400px;
    width: 450px;
    float: right;
    margin: 0;
    padding: 40px 0 0 50px;
    text-align: center;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

.top-right-ruleset {
    height: 400px;
    width: 350px;
    float: right;
    padding: 75px 0 0 0;
}

.top-right-choosActionComponent {
    height: 400px;
    width: 350px;
    float: left;
    padding: 25px 0 0 0;
}

/* Product Owner CSS */
#productOwner {
    text-align: center;
    font-size: 4em;
    margin-bottom: 20px;
}

/* Day of CSS */
#dayOf {
    float: left;
}

/* Date of CSS */
#dateOf {
    float: right;
    position: relative;
    left: -50%; /* or right 50% */
    text-align: left;
}

/* Time Of CSS */
#timeOf {
    float: right;
}
/* Display all Date and time data CSS */
.timeAndDateOf {
    width: 100%;
    height: 33px;
}

/* Title Of Operation CSS*/
.titleOfOperation-container {
    width: 100%;
    height: 60px;
}

#titleOfOperation {
    margin-top: 10px;
    text-align: center;
}


/* Top-left CSS */
#newRuleSet {
    margin-top: 100px;
    margin-right: 40px;
    background-color: #263238;
}

/* Top-Middle CSS */
#temperature-status {
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 50px;
}


/* Top-Right CSS */
#newTemperature {
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 50px;
}

#setTemperature {
    height: auto;
    width: 110px;
    background-color: #313E45;
    border: #313E45;
    color: white;
}

/* Bottom-left CSS */
#backButton {
    height: 40px;
    width: auto;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: #263238;
}

/* Horizontal-Half-divider */

.horizontal-half-divider {
    width: 100%;
    height: 3px;
    margin-top: -5px;
    background-color: #263238;
}

.vertical-half-divider {
    width: 3px;
    position: absolute;
    height: 400px;
    background-color: #263238;
    float: right;
    display: inline-block;
    padding: 0;
}

/* Temperature CSS */

.temperature,
.celsius{
    display: inline;
    vertical-align: middle;
    font-size: 30px;
    font-weight: 800;
}

.temperature {
    font-size: 60px;
    font-weight: 800;
    margin-right: 5px;
}

.celsius {
    margin-right: 10px;
}

/* Buttons */

.turnUp {
    height: 40px;
    width: 40px;
    background-color: #313E45;
    font-size: 30px;
}

.turnDown {
    margin-left: 20px;
    height: 40px;
    width: 40px;
    background-color: #313E45;
    font-size: 30px;
}

.setTemp {
    margin-left: 20px;
    height: 40px;
    width: 100px;
    background-color: #313E45;
    font-size: 30px;
    align-content: right;
}

.nextPage {

    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    height: 40px;
    width: 100px;
    background-color: #313E45;
    font-size: 30px;
}

/*Radio Buttons*/
.setTriggerType {
    align-content: left;
}
.triggerType {
    height: 20px;
    width: 20px;
    font-size: 30px;
}

/* Radio button text */
.triggerTypeText {
    font-size: 30px;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
